.container_buttons {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .button_current {
    width: 5vh;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #b20000;
    box-shadow: 0 0.5px 5px 0.5px rgba(0, 0, 0, 0.25);
    font-family: "Montserrat", sans-serif;
    font-size: 2.5vh;
    color: #ffffff;
  }
  
  button {
    width: 4vh;
    height: 4vh;
    margin: 0 30px;
    border: 2px solid #b2000080;
    background-color: transparent;
    box-shadow: 0 0.5px 5px 0.5px rgba(0, 0, 0, 0.25);
    transition: 0.3s ease;
    cursor: pointer;
  }
  
  button:focus {
    outline: none;
  }
  
  button:active {
    background-color: #b20000;
    transform: scale(1.25);
  }